{% load static %}
{% include 'navbardark.html' %}
<div class="container" style="margin-top: 10rem;">
    <h3 class="pathlink">الرئيسيه / كن شريكا</h3>
    <div class="title">
        <h2 style="color: #1385B2; font-size: 37px;">كن شريكا</h2>
        <p style="color: #858585; font-size: 15px;">كن شريكا مع بصائر</p>
    </div>
    <h2 style="color: #1385B2; font-size: 18px; border-bottom: 1px solid lightgray; padding: 3rem 0 1rem 0;">
        المرفقات
    </h2>
    <div class="row mt-5" style="margin-bottom: 10rem;">
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                كتاب رسمي من مدير الجمعية موجهة لمدير جمعية بصائر الخيرية
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ارفاق المستند
            </label>
            <input class="formDivInput" type="file">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                الترخيص الرسمي من الدولة
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ارفاق المستند
            </label>
            <input class="formDivInput" type="file">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                نسخة عن النظام الاساسي
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ارفاق المستند
            </label>
            <input class="formDivInput" type="file">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                الترخيص الحكومي بجمع المال
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ارفاق المستند
            </label>
            <input class="formDivInput" type="file">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                نسخة معتمدة من مكتب تدقيق الحسابات
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ارفاق المستند
            </label>
            <input class="formDivInput" type="file">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ترخيص الكويت
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="col-md-6 formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                ارفاق المستند
            </label>
            <input class="formDivInput" type="file">
        </div>
        <div class="formDivBtns">
            <button class="formDivBtn" style="color: #fff; background-color: #1385B2;"> حفظ وارسال </button>
        </div>
    </div>
</div>
{% include 'footer.html' %}