{% load static %}
{% include 'navbardark.html' %}
<div class="container" style="margin-top: 10rem;">
    <h3 class="pathlink">الرئيسيه / اهداء تبرع</h3>
    <div class="title">
        <h2 style="color: #1385B2; font-size: 37px;">اهداء تبرع</h2>
        <p style="color: #858585; font-size: 15px;">يمكنك اهداء تبرع لاي شخص من خلال منصه بصائر</p>
    </div>
    <div class="firstSection">
        <div class="firstSectionTitle">
            <span style="color: #858585">المرحله الاولي -</span>
            <span style="color: #1385B2; font-weight: 500;">اختيار المشروع </span>
        </div>
        <div class="row firstSectionCard">
            <div class="col-md-3">
                <div class="firstSectionCard1">
                    <p class="firstSectionCard1P"> مشروع برد عليهم</p>
                    <img src="{% static './images/cardimg1.png' %}" alt="cardimg" style="width: 100%; height: 234px;">
                </div>
                <div class="firstSectionCard2">
                    <div class="firstSectionCard2div">
                        <p> دينار كويت</p>
                        <p>مبلغ البترع</p>
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <button class="firstSectionCard2btns"
                            style="color: #fff; background-color: #1385B2;">اهداء</button>
                        <button class="firstSectionCard2btns"
                            style="color: gray; background-color: #fff; border: 1px solid #1385B2;">تفاصيل</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="firstSectionCard1">
                    <p class="firstSectionCard1P"> مشروع برد عليهم</p>
                    <img src="{% static './images/cardimg2.png' %}" alt="cardimg" style="width: 100%; height: 234px;">
                </div>
                <div class="firstSectionCard2">
                    <div class="firstSectionCard2div">
                        <p> دينار كويت</p>
                        <p>مبلغ البترع</p>
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <button class="firstSectionCard2btns"
                            style="color: #fff; background-color: #1385B2;">اهداء</button>
                        <button class="firstSectionCard2btns"
                            style="color: gray; background-color: #fff; border: 1px solid #1385B2;">تفاصيل</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="firstSectionCard1">
                    <p class="firstSectionCard1P"> مشروع برد عليهم</p>
                    <img src="{% static './images/cardimg3.png' %}" alt="cardimg" style="width: 100%; height: 234px;">
                </div>
                <div class="firstSectionCard2">
                    <div class="firstSectionCard2div">
                        <p> دينار كويت</p>
                        <p>مبلغ البترع</p>
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <button class="firstSectionCard2btns"
                            style="color: #fff; background-color: #1385B2;">اهداء</button>
                        <button class="firstSectionCard2btns"
                            style="color: gray; background-color: #fff; border: 1px solid #1385B2;">تفاصيل</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="firstSectionCard1">
                    <p class="firstSectionCard1P"> مشروع برد عليهم</p>
                    <img src="{% static './images/cardimg4.png' %}" alt="cardimg" style="width: 100%; height: 234px;">
                </div>
                <div class="firstSectionCard2">
                    <div class="firstSectionCard2div">
                        <p> دينار كويت</p>
                        <p>مبلغ البترع</p>
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <button class="firstSectionCard2btns"
                            style="color: #fff; background-color: #1385B2;">اهداء</button>
                        <button class="firstSectionCard2btns"
                            style="color: gray; background-color: #fff; border: 1px solid #1385B2;">تفاصيل</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="firstSectionTitle">
            <span style="color: #858585"> اختيار النموذج-</span>
            <span style="color: #1385B2">المرحله الثانيه</span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{% static './images/imgseries1.png' %}" alt="imgseries">
            </div>
            <div class="col-md-3">
                <img src="{% static './images/imgseries2.png' %}" alt="imgseries">
            </div>
            <div class="col-md-3">
                <img src="{% static './images/imgseries3.png' %}" alt="imgseries">
            </div>
            <div class="col-md-3">
                <img src="{% static './images/imgseries4.png' %}" alt="imgseries">
            </div>
        </div>
    </div>
    <div class="my-5">
        <div class="firstSectionTitle">
            <span style="color: #858585"> البيانات-</span>
            <span style="color: #1385B2">المرحله الثالثه</span>
        </div>
        <div class="formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                <i style="font-size: 25px; color: #1385B2;" class="fa fa-user ml-3"></i>اسم المرسل
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                <i style="font-size: 25px; color: #1385B2;" class="fas fa-male ml-3"></i>المرسل له
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                <i style="font-size: 25px; color: #1385B2;" class="fa fa-phone ml-3"></i>رقم الهاتف
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="formDiv">
            <label for="name" style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                <i style="font-size: 25px; color: #1385B2;" class="fa fa-inbox ml-3"></i>البريد
            </label>
            <input class="formDivInput" type="text">
        </div>
        <div class="formDivBtns">
            <button class="formDivBtn" style="color: #fff; background-color: #1385B2;">اهداء</button>
            <button class="formDivBtn"
                style="color: #1385B2; background-color: #fff; border: 1px solid lightgray;">تفاصيل</button>
        </div>
    </div>
</div>
{% include 'footer.html' %}