{% load static %}
<section class="testimonials text-center" id="marketplace"
    style="background-image: url('{% static './images/bgstyledgray.png'%}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto wow fadeInUp">
                <h5 class="font-weight-bold" style="margin-bottom: 2rem; font-size: 18px;">نؤمن في مؤسسة بصائر
                    الخيريه بأهمية التواصل
                    الفعال، ونتطلع
                    إلى مشاركتكم وتفاعلكم</h5>

                <a href="/seasonalprojects">
                    <button class="mybg-eventBtn" style="background-color: #fff; color: #1488B5;">تبرع الان</button>
                </a>
            </div>
        </div>

    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center my-auto  wow zoomIn" style="width: 15rem; height: 15rem;">
                <img src="{% static './images/bgfooter.png' %}" alt="logoimg">
            </div>
            <div class="col-sm-6 col-md-4 text-center my-auto  wow zoomIn">
                <ul style="list-style: none; text-align: right;">
                    <li style="margin: 1rem 0;">
                        <a href="#" style="text-decoration: none; color: #fff;">
                            <h3>القائمة الرئيسية</h3>
                        </a>
                    </li>
                    <li style="margin: 1rem 0;">
                        <a href="#" style="text-decoration: none; color: #fff;">بوابه التبرع</a>
                    </li>
                    <li style="margin: 1rem 0;">
                        <a href="#" style="text-decoration: none; color: #fff;">قصص السعاده</a>
                    </li>
                    <li style="margin: 1rem 0;">
                        <a href="#" style="text-decoration: none; color: #fff;">اخبار ورحلات</a>
                    </li>
                    <li style="margin: 1rem 0;">
                        <a href="#" style="text-decoration: none; color: #fff;">عن بصائر</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 text-right my-auto  wow zoomIn">
                <ul class="list-inline mb-0 p-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i style="font-size: 25px;" class="fa fa-linkedin fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i style="font-size: 25px;" class="fa fa-youtube fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i style="font-size: 25px;" class="fa fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i style="font-size: 25px;" class="fa fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i style="font-size: 25px;" class="fa fa-twitter fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i style="font-size: 25px;" class="fa fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-mutedP small mb-4 mb-lg-0"> <sup>©</sup> 2021 جميع الحقوق </p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>