{% load static %}
{% include 'navbarlight.html' %}
<header class="masthead text-white" style="background-image: url('{% static './images/qasas.png' %}'">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="my-heading">قصص السعاده </h3>
                <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                    نحو</p>
                <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                    الدين </p>
                <!-- <p class="myp-slider text-center">والمجتمع اسمي بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف
                        وعدم </p>
                    <p class="myp-slider text-center">التساهل الذي يؤدي لضياع</p> -->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row" style="margin: 5rem 0;">
        <div class="col-12 col-md-5">
            <div class="video-container">
                <video autoplay muted controls loop>
                    <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                        type="video/mp4" />
                </video>
                <div class="card_overly d-flex align-items-end justify-content-center p-2 text-white">
                    <div>
                        <h2>اليتيم محمد بن سوريا</h2>
                        <p>اليتيم محمد بن سوريا فقد أباه في رمضان
                            اليتيم محمد بن سوريا فقد أباه</p>
                        <div class="d-flex align-items-center">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span class="mx-2">30</span>
                            <span>دقيقه</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="video-container" style="height: 218px;">
                        <video autoplay muted controls loop>
                            <source
                                src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                                type="video/mp4" />
                        </video>
                        <div class="card_overly d-flex align-items-end justify-content-center p-2 text-white">
                            <div>
                                <h2 class="card_overly_h">اليتيم محمد بن سوريا</h2>
                                <p class="card_overly_p">اليتيم محمد بن سوريا فقد أباه في رمضان
                                    اليتيم محمد بن سوريا فقد أباه</p>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span class="mx-2">30</span>
                                    <span>دقيقه</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-container" style="height: 218px;">
                        <video autoplay muted controls loop>
                            <source
                                src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                                type="video/mp4" />
                        </video>
                        <div class="card_overly d-flex align-items-end justify-content-center p-2 text-white">
                            <div>
                                <h2 class="card_overly_h">اليتيم محمد بن سوريا</h2>
                                <p class="card_overly_p">اليتيم محمد بن سوريا فقد أباه في رمضان
                                    اليتيم محمد بن سوريا فقد أباه</p>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span class="mx-2">30</span>
                                    <span>دقيقه</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <div class="video-container" style="height: 218px;">
                        <video autoplay muted controls loop>
                            <source src="{% static './images/v1.mp4' %}" type="video/mp4" />
                        </video>
                        <div class="card_overly d-flex align-items-end justify-content-center p-2 text-white">
                            <div>
                                <h2 class="card_overly_h">اليتيم محمد بن سوريا</h2>
                                <p class="card_overly_p">اليتيم محمد بن سوريا فقد أباه في رمضان
                                    اليتيم محمد بن سوريا فقد أباه</p>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span class="mx-2">30</span>
                                    <span>دقيقه</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-container" style="height: 218px;">
                        <video autoplay muted controls loop>
                            <source src="{% static './images/v1.mp4' %}" type="video/mp4" />
                        </video>
                        <div class="card_overly d-flex align-items-end justify-content-center p-2 text-white">
                            <div>
                                <h2 class="card_overly_h">اليتيم محمد بن سوريا</h2>
                                <p class="card_overly_p">اليتيم محمد بن سوريا فقد أباه في رمضان
                                    اليتيم محمد بن سوريا فقد أباه</p>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span class="mx-2">30</span>
                                    <span>دقيقه</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}