{% load static %}
{% include 'navbarlight.html' %}
<header class="masthead text-white" style="background-image: url('{% static './images/sec2img2.png'%}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="my-heading">جمعيه بصائر الخيريه</h3>
                <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                    نحو</p>
                <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                    الدين </p>
                <!-- <p class="myp-slider text-center">والمجتمع اسمي بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف
                        وعدم </p>
                    <p class="myp-slider text-center">التساهل الذي يؤدي لضياع</p> -->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row" style="margin: 8rem 0 3rem 0;">
        <div class="col-4">
            <a href="/detailpage">
                <div class="card" style="border-radius: 12px;">
                    <div class="card1-img-top">
                        <img src="{% static './images/sea.png' %}" style="width: 100%;" alt="img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لقاء اذاعي</h5>
                        <p class="card-text">العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو
                            تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة
                            اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="/detailpage">
                <div class="card" style="border-radius: 12px;">
                    <div class="card1-img-top">
                        <img src="{% static './images/sea.png' %}" style="width: 100%;" alt="img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لقاء اذاعي</h5>
                        <p class="card-text">العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو
                            تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة
                            اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="/detailpage">
                <div class="card" style="border-radius: 12px;">
                    <div class="card1-img-top">
                        <img src="{% static './images/sea.png' %}" style="width: 100%;" alt="img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لقاء اذاعي</h5>
                        <p class="card-text">العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو
                            تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة
                            اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 meeting_section" style="background-image: url('{% static './images/newsfamous.png'%}');">
            <h2 class="meeting_heading">
                خبر صحفي ولقاء حول مشروع الشهر
            </h2>
            <p class="meeting-text">
                العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو تحقيق رؤية ورسالة وأهداف
                الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة اأطيافه ، وحماية المجتمع من الغلو
                والتطرف وعدم التساهل الذي يؤدي لضياع
            </p>
        </div>
    </div>
</div>

<div>
    <h1>I am a Image</h1>
    {% for img in images %}

    <h1>{{img.title}}</h1>
    <img alt="image not shown" src="{{img.image.url}}" width="120" />

    {% endfor %}
</div>
{% include 'footer.html' %}