{% load static %}
{% include 'navbardark.html' %}

<div class="container">
    <div class="row justify-content-center" style="margin-top: 10rem;">
        <div class="col-6">
            <div class="card">
                <div class="row">
                    <div class="text-center"> 
                        <h2>تسجيل دخول</h2>
                        <br>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-12">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                              {{form.email}}
                            </div>
                            <div class="form-group">
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                {{form.mobilenumber}}
                            </div>
                            <div class="form-group">
                                {{form.password}}
                            </div>
                            

                            <div class="row my-3">
                                <div class="col-12 text-center" style="color: #808080;">
                                    <span>نسيت كلمه السر؟</span>
                                </div>
                            </div>

                            <div class="row my-3">
                                <div class="col-6 text-center">
                                    <button class="buttons d-flex justify-content-center"><span>Gmails</span><img
                                            src="{% static './images/gmail.png' %}" alt="gmail" class="gmail_icon"></button>
                                </div>
                                <div class="col-6 text-center">
                                    <button class="buttons facebook_button"><span class="mx-2">Facebook</span><i
                                            class="fa fa-facebook-f"></i></button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <!-- <button class="buttons login">تسجيل دخول</button> -->
                                    <button type="submit" class="btn buttons login" style="max-height: 12px;">تسجيل دخول</button>
                                </div>
                            </div>
                            
                          </form>
                    </div>
                </div>
                
                
                

            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}