{% extends 'web/master.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
    <div class="col-md-offset-3">
    <div class="main-contact">
                <form class="contact-form" action="{% url 'changePassword' %}" method="post">
                    {% csrf_token %}

                    <h4 style="color:red;">{% trans error %}</h4>

                    <h3>{% trans "Change Password" %}</h3>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="password" name="password" placeholder="Password" class="input-group__input form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-group__input form-control" required>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn base-bg" value="Submit">
                    <span class="text-mute pdl15">* {% trans "All fields are mandatory"%}</span>
                </form>
            </div>
    </div>
{% endblock %}
