{% extends 'web/navbarlight.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}

    <header class="masthead text-white" style="background-image: url('{% static 'images/qasas.png' %}');">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="my-heading">قصص السعادة </h3>
                    <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                        نحو</p>
                    <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                        الدين </p>
                </div>
            </div>
        </div>
    </header>

    <div class="container my-5">
        <!-- <video autoplay muted controls loop style="width: 100%; border-radius: 12px;margin-bottom: 2rem;">
            <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                type="video/mp4" />
        </video> -->
        <div class="container">
            <video autoplay muted controls loop class="videoOnDetailPageOfSuccessStories">
                <source src="/media/{{ obj.image }}"
                        type="video/mp4"/>
            </video>
        </div>
        {#    <!-- <img src="{% static './images/child.png' %}" alt="detailimg"> -->#}
        <h5>{{ obj.title }}</h5>
        <p style="font-size: 12px;">{{ obj.content }}
        </p>
    </div>


{% endblock %}