{% extends 'web/navbarlight.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}
{% load project_image %}

{% block content %}

<style type="text/css">
    .header2{
        background-color: black;
    }
    .imageOpacity{
        opacity: 0.6;
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        {% for project in projects %}
            <div {% if forloop.first %} class="carousel-item active header2" {% else %} class="carousel-item header2" {% endif %}>
                <img class="d-block w-100 imageOpacity" src="{% project_image_tag project request %}" alt="{{ project.get_name }}">

                <div class="carousel-caption d-none d-md-block">
                    <h3 class="my-heading">{{ project.get_name }}</h3>
                    <p class="myp-slider text-center">{{ project.get_detail }}</p>
{#                    <p class="myp-slider text-center">سهوله من خلال موقعنا</p>#}
{#                    <a href="{% url 'project-detail' project.id %}">#}
                    <a href="{% url 'allProjects' %}">
                        <button class="mybg-eventBtn" style="background-color: #fff; color: #1488B5;">تبرع الان</button>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>


<section class="testimonials">
{#    <!-- <img src="{% static 'images/bg1.png' %}" class="testimonialsBG1" style="left: -9rem;" alt="img"> -->#}
    <div class="container">
        <div class="row">

{#            {% for project in projects|slice:"1:2" %}#}
            <div class="col-md-6 mb-3 wow bounceInUp" data-wow-duration="1.4s" style="margin:auto">
                <div class="big-img">
                    <a href="{% url 'allProjects' %}">
                        <p class="myp-onimgtxt text-center" style="right: 12rem;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == "ar" %}
                                {% trans "تفاصيل المشروع" %}
                            {% else %}
                                {% trans "Project Details" %}
                            {% endif %}
                            &#62;
                        </p>
                    </a>
{#                    <img src="{% project_image_tag project request %}" alt="{{ project.get_name }}" class="img-fluid" width="140%" height="200px">#}
                    <div>
                        <img src="{% static 'images/imgseries4.png' %}" alt="" width="100%" height="430px">
                    </div>
                </div>
            </div>
{#            {% endfor %}#}


{#            {% for project in projects|slice:"2:3" %}#}
            <div class="col-md-6 mb-3 wow bounceInUp" data-wow-duration="1.4s" style="margin:auto">
                <div class="big-img">
                    <a href="{% url 'createOwnProject' %}">
                        <p class="myp-onimgtxt text-center" style="right: 12rem;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == "ar" %}
                                {% trans "إنشاء مشروع جديد" %}
                            {% else %}
                                {% trans "Create A New Project" %}
                            {% endif %}
                            &#62;
                        </p>
                    </a>
{#                    <img src="{% project_image_tag project request %}" alt="{{ project.get_name }}" class="img-fluid" width="140%" height="200px">#}
                    <div>
                        <img src="{% static 'images/cardimg1.png' %}" alt="" width="100%" height="430px">
                    </div>
                </div>
            </div>
{#            {% endfor %}#}


            <div class="col-12 col-sm-6 col-md-3 my-3">
                <div class="small-img">
                    <a href="{% url 'icalculator' %}">
                        <p class="myp-onimgtxt text-center" style="right:5rem; font-size: 18px;">
                            أحسب ذكاتك
                            &#62;
                        </p>
                    </a>
                    <img src="{% static 'images/sec2img6.png' %}" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 my-3">
                <div class="small-img">
                    <p class="myp-onimgtxt text-center" style="right: 3rem; font-size: 18px;">
                        استفسر عن مشروعك
                        &#62;
                    </p>
                    <img src="{% static 'images/sec2img5.png' %}" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 my-3">
                <div class="small-img">
                    <a href="{% url 'joinchat' %}">
                        <p class="myp-onimgtxt text-center" style="right: 3rem; font-size: 18px;">
                            انضم الي
                            ًأدقاء النش
                            &#62;
                        </p>
                    </a>
                    <img src="{% static 'images/sec2img4.png' %}" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 my-3">
                <div class="small-img">
                    <a href="{% url 'donatedDonation' %}">
                        <p class="myp-onimgtxt text-center" style="right: 6rem; font-size: 18px;">
                            أهداء تبرع
                            &#62;
                        </p>
                    </a>
                    <img src="{% static 'images/sec2img3.png' %}" style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <!-- <img src="{% static 'images/bg1.png' %}" class="testimonialsBG1" style="left: -9rem;" alt="img"> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="big-img-3">
                    <img src="{% static 'images/news.png' %}" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mt-4">
                <div class="my-right-text wow fadeInUp">
                    <h3 class="myh-class font-weight-bold">خبر صحفي ولقاء حول<br>
                        مشروع الشهر</h3>
                    <p class="myp-class">
                        العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري
                        والفني للجمعية نحو تحقيق رؤية ورسالة وأهداف الجمعية
                        ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة
                        اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل
                        الذي يؤدي لضياع
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="testimonials">
    <!-- <img src="{% static 'images/bg1.png' %}" class="testimonialsBG1" style="right: -9rem;" alt="img"> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mt-4">
                <div class="my-right-text wow fadeInUp">
                    <h3 class="myh-class font-weight-bold">
                        هدفنا في هذه السنه
                    </h3>
                    <p class="myp-class">
                        العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري
                        والفني للجمعية نحو تحقيق رؤية ورسالة وأهداف الجمعية
                        ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة
                        اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل
                        الذي يؤدي لضياع
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="big-img-3">
                    <img src="{% static 'images/hadfana.png' %}" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- './images/bgFixed.png' -->
<!-- background-image: url('{% static 'images/hadfana.png' %}');  -->
<section class="testimonials mybg-events text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 wow fadeInUp">
                <h3 class="title-heading">جمعيه بصائر الخيريه</h3>
                <p class="myp">
                    العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو تحقيق رؤية
                    ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي بكافة
                    اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                </p>
                <a href="{% url 'allProjects' %}">
                    <button class="mybg-eventBtn" style="background-color: #fff; color: #1488B5;">تبرع الان</button>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <a href="/detailpage">
                    <div class="card card-custom">
                        <img class="card-img-top" src="{% static 'images/child.png' %}">
                        <div class="card-block">
                            <h4 class="card-title">اليتيم محمد بن سوريا</h4>
                            <small>
                                اليتيم محمد بن سوريا فقد أباه في رمضان
                                اليتيم محمد بن سوريا فقد أباه في رمضان
                            </small>
                            <div class="card-bottom">
                                <i class="fa fa-clock-o" style="font-size: 1.5rem; margin-left: 10px;"></i> <span
                                    style="font-size: 14px;">30 دقيقه</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <a href="/detailpage">
                    <div class="card card-custom">
                        <img class="card-img-top" src="{% static 'images/child.png' %}">
                        <div class="card-block">
                            <h4 class="card-title">اليتيم محمد بن سوريا</h4>
                            <small>
                                اليتيم محمد بن سوريا فقد أباه في رمضان
                                اليتيم محمد بن سوريا فقد أباه في رمضان
                            </small>
                            <div class="card-bottom">
                                <i class="fa fa-clock-o" style="font-size: 1.5rem; margin-left: 10px;"></i> <span
                                    style="font-size: 14px;">30 دقيقه</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <a href="/detailpage">
                    <div class="card card-custom">
                        <img class="card-img-top" src="{% static 'images/child.png' %}">
                        <div class="card-block">
                            <h4 class="card-title">اليتيم محمد بن سوريا</h4>
                            <small>
                                اليتيم محمد بن سوريا فقد أباه في رمضان
                                اليتيم محمد بن سوريا فقد أباه في رمضان
                            </small>
                            <div class="card-bottom">
                                <i class="fa fa-clock-o" style="font-size: 1.5rem; margin-left: 10px;"></i> <span
                                    style="font-size: 14px;">30 دقيقه</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- "background-image: url('{% static 'images/bgFixed.png'%}');" -->
<section class="testimonials text-center">
    <div class="container">
        <div class="row justify-content-center bgStyledSection"
            style="background-image: url('{% static './images/bgFixed.png'%}');">
            <div class="col-md-2"
                style="color: #fff; font-size: 13px; font-weight: bold; border-right: 1px solid #5AB9D4;">
                <span style="font-size: 47px">75</span> <br />يتيم مكفول
            </div>
            <div class="col-md-2"
                style="color: #fff; font-size: 13px; font-weight: bold; border-right: 1px solid #5AB9D4;">
                <span style="font-size: 47px">75</span> <br />مشروع جاري تنفيذه
            </div>
            <div class="col-md-2"
                style="color: #fff; font-size: 13px; font-weight: bold; border-right: 1px solid #5AB9D4;">
                <span style="font-size: 47px">75</span> <br /> داعيه مكفول
            </div>
            <div class="col-md-2"
                style="color: #fff; font-size: 13px; font-weight: bold; border-right: 1px solid #5AB9D4;">
                <span style="font-size: 47px">75</span> <br />دوله
            </div>
            <div class="col-md-2"
                style="color: #fff; font-size: 13px; font-weight: bold; border-right: 1px solid #5AB9D4;">
                <span style="font-size: 47px">75</span> <br />مسلم جديد
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-7 wow fadeInUp">
                <h3 class="title-heading">جمعيه بصائر الخيريه</h3>
            </div>
        </div>
        <div id="carouselExample" class="carouselPrograms carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-4  active">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 1" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 1">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 3" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 2">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 4" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 5" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 4">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 6" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 5">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 7" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 6">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 7">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 2" class="thumb">
                                <img class="img-fluid mx-auto d-block" src="{% static 'images/background.png' %}"
                                    alt="slide 8">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="testimonials text-center">
    <div class="container">
        <img class="img-fluid" src="{% static 'images/googlemap.png' %}" alt="mapimg">
    </div>
</section>


{% endblock %}