{% extends 'web/navbarlight.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}

    <header class="masthead text-white" style="background-image: url('{% static 'images/qasas.png' %}');">
        <div class="overlay"></div>
    </header>

    <div class="container my-5">
        <!-- <video autoplay muted controls loop style="width: 100%; border-radius: 12px;margin-bottom: 2rem;">
            <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                type="video/mp4" />
        </video> -->
        {#        <div class="d-flex justify-content-between mb-3" style="overflow-x: scroll; white-space: nowrap;">#}
        <div class="d-flex justify-content-between mb-3">
            {% if obj.video %}
                <video autoplay muted controls loop
                     style="margin: 0 10px; height: 470px; width: 100%; border-radius: 17px;">
                    <source
                            src="/media/{{ obj.video }}"
                            type="video/mp4"/>
                </video>
            {% else %}
                <img src="/media/{{ obj.image }}" alt="detailimg" class="img-fluid"
                     style="margin: 0 10px; height: 470px; width: 100%; border-radius: 17px;">
            {% endif %}
        </div>
        <h5>{{ obj.title }}</h5>
        <p style="font-size: 12px;">{{ obj.content }}
        </p>
    </div>


{% endblock %}