{% extends 'web/master.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}

    <div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="causes-details-wrap">
                    <div class="causes-details-top">
                        <div class="causes-details-image mb10">
                            <img src="{{ obj.get_image_url }}" height="600" width="100%" alt="">
                        </div>
                        <div class="causes-details-top__text-content">
                            <h3 class="causes-details__title text-uppercase">{{ obj.get_title }}</h3>
                            <span class="small-text">
                                 
                                    <i class="fa fa-calendar base-color"></i> {{ obj.created_at | date:"M d, Y" }}</span>
                            <!-- AddToAny BEGIN -->
{#                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">#}
{#                                <a class="a2a_button_copy_link"></a>#}
{#                                <a class="a2a_button_twitter"></a>#}
{#                                <a class="a2a_button_facebook"></a>#}
{#                                <a class="a2a_button_telegram"></a>#}
{#                                <a class="a2a_button_whatsapp"></a>#}
{#                            </div>#}
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->


                            <p>{{ obj.get_content | safe }}</p>

                        </div>

                    </div>
                </div>

            </div>
            <br/>
            <div class="col-md-4">
                <aside class="sidebar">
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <h4 class="widget__title">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% if LANGUAGE_CODE == "ar" %}
                                {% trans "فئات الأخبار" %}
                                {% else %}
                                {% trans "News Categories" %}
                                {% endif %}
                            </h4>
                        </div>
                        <div class="widget__text-content">
                            <ul>
                                {% for category in categories %}
                                    <li><a href="{% url 'news-category' category.id %}"
                                           class="pdr10">{{ category.get_name }}</a><span
                                            class="post-count">{{ category.total_news }}</span></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </aside>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12">
                <div class="widget">
                    <div class="widget__heading">
                        <h4 class="widget__title">{% trans "Latest" %} <span
                                class="base-color">{% trans "News" %}</span></h4>
                    </div>
                    <div class="widget__text-content">
                        {% for obj in latest_news %}
                            <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6 col-xs-12">
                                <div class="widget-latest-causes">
                                    <div class="widget-latest-causes__image-wrap">
                                        <a href="{% url 'news-detail' obj.id %}"><img
                                                class="widget-latest-causes__thumbnail" src="{{ obj.get_image_url }}"
                                                width="145" height="93" alt=""></a>
                                    </div>
                                    <div class="widget-latest-causes__text-content">
                                        <h4 class="widget-latest-causes__title"><a
                                                href="{% url 'news-detail' obj.id %}">{{ obj.get_title }}</a></h4>
                                        <span class="small-text"><i
                                                class="fa fa-calendar base-color"></i> {{ obj.created_at | date:"M d, Y" }}</span>
                                    </div>
                                </div><!--/.widget-latest-causes-->
                            </div>
                        {% endfor %}
                    </div>
                    {#                    </aside>#}
                </div>

            </div>
        </div>

        </div>

    </div>{% endblock %}
