{% extends 'web/navbarlight.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}

<header class="masthead text-white" style="background-image: url('{% static 'images/sec2img2.png'%}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="my-heading">جمعية بصائر الخيرية</h3>
                <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                    نحو</p>
                <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                    الدين </p>
            </div>
        </div>
    </div>
</header>

    <br><br>

    <div class="container">
    <div class="row" style="margin: 8rem 0 3rem 0;">
        {% for data in news %}
        <div class="col-12 col-md-4">
            <a href="{% url 'news-detail' data.id %}">
                <div class="card" style="border-radius: 12px;">
                    <div class="card1-img-top">
                        <img src="/media/{{ data.image }}" style="width: 100%;" alt="img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ data.title }}</h5>
                        <p class="card-text">{{ data.content|truncatechars:255 }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <br><br>

    <div class="row my-5">
        {% for data in news %}
            {% if forloop.last %}
        <div class="col-12 meeting_section" style="background-image: url('/media/{{ data.image }}');">
            <h2 class="meeting_heading"> {{ data.title }} </h2>
            <p class="meeting-text">
                {{ data.content|truncatechars:255 }}
            </p>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

    <br><br>

{#<div>#}
{#    <h1>I am a Image</h1>#}
{#    {% for img in images %}#}
{##}
{#    <h1>{{img.title}}</h1>#}
{#    <img alt="image not shown" src="{{img.image.url}}" width="120" />#}
{##}
{#    {% endfor %}#}
{#</div>#}
{% endblock %}