{% extends 'web/navbardark.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}
{% load project_image %}

{% block content %}


<header class="masthead text-white" style="background-image: url('{% static 'images/work.png' %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="my-heading">شركاؤنا </h3>
                <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                    نحو</p>
                <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                    الدين </p>
                <a href="{% url 'allProjects' %}">
                    <button class="mybg-eventBtn" style="background-color: #fff; color: #1488B5;">تبرع الان</button>
                </a>
                <!-- <p class="myp-slider text-center">والمجتمع اسمي بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف
                        وعدم </p>
                    <p class="myp-slider text-center">التساهل الذي يؤدي لضياع</p> -->
            </div>
        </div>
    </div>
</header>
<div class="container" style="margin: 5rem auto 10rem auto;">
    <div class="row">
        <div class="col-3">
            <img src="{% static 'images/alpha.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/icas.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/company.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/phoenix.png' %}" alt="img">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="{% static 'images/alpha.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/icas.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/company.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/phoenix.png' %}" alt="img">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="{% static 'images/alpha.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/icas.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/company.png' %}" alt="img">
        </div>
        <div class="col-3">
            <img src="{% static 'images/phoenix.png' %}" alt="img">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <button class="become_partner">كن شريكا معنا</button>
        </div>
    </div>
</div>
{% endblock %}