{% extends 'web/navbardark.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}

    <style type="text/css">
        .circle {
            width: 4%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1385B2;
            border-radius: 50%;
            font-weight: bold;
            color: white;
            position: absolute;
            top: -7px;
        }

        .hrMain {
            display: flex;
        }

        .hr1 {
            height: 6px !important;
            background-color: #1385B2;
        }

        .hr2 {
            height: 6px !important;
            background-color: gray;
        }
    </style>

    <div style="position: relative; overflow: hidden">
        <img src="/static/images/bg1.png" class="testimonialsBG1" style="left: -11rem; top: 5rem" alt="img">
        <div class="container" style="margin-top: 10rem;">
            <h3 class="pathlink">الرئيسية / تفاصيل المشروع</h3>
            <div class="title">
                <h2 style="color: #1385B2; font-size: 37px;">{{ projectName1 }}</h2>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel"
                 data-interval="5000" style="height: 28rem;">
                <div class="carousel-inner">
                    {% for project in projects %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %} header2">
                            <div class="row justify-content-between">
                                <div class="col-md-5">
                                    {% if project.video %}
                                        <video autoplay muted controls loop
                                               style="height: 15rem; border-radius: 17px; width: 100%;">
                                            <source
                                                    src="/media/{{ project.video }}"
                                                    type="video/mp4"/>
                                        </video>
                                    {% else %}
                                        <img class="d-block w-100" style="height: 15rem; border-radius: 17px;"
                                             src="/media/{{ project.image }}" alt="{{ project.get_name }}">
                                    {% endif %}
                                </div>
                                <div class="col-md-6" style="font-size: 25px;">
                                    {{ project.get_detail|truncatechars:500 }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for images in multipleImages %}
                        <div class="carousel-item header2">
                            <div class="row justify-content-between">
                                <div class="col-md-5">
                                    <img class="d-block w-100" style="height: 15rem;"
                                         src="/media/{{ images.image }}">
                                </div>
                                <div class="col-md-6" style="font-size: 25px;">
                                    {#                                {{ project.get_detail }}#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        {% for project in projects %}
            <div class="row">
                <div class="col-12" style="position: relative;">
                    <div class="circle"
                         style="right: {{ project.fund_percent | intcomma:False }}%;">{{ project.fund_percent | intcomma:False }}%
                    </div>
                    <div class="hrMain">
                        <hr class="hr1" style="width: {{ project.fund_percent | intcomma:False }}%;"/>
                        <hr class="hr2" style="width: {{ project.remaining_percent }}%;"/>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 d-flex justify-content-between" style="font-size : 25px">
                    <div class="d-flex">
                        <span class="description">تم جمع</span>
                        <span class="price_indicator mx-2">{{ project.total_funded }}</span>
                    </div>
                    <div class="d-flex">
                        <span class="description">المتبقي</span>
                        <span class="price_indicator mx-2">{{ project.remaining }}</span>
                    </div>
                </div>

            </div>
        {% endfor %}
        <div class="row justify-content-between align-items-center my-5">
            <div class="col-12 col-md-5 text-right">
                <span class="donate">قيمه التبرع</span>
                {% for project in projects %}
                    <form>
                        {% csrf_token %}
                        <div class="zakat_input d-flex justify-content-between">
                            <span>مبلغ النقد</span>
                            <input type="number" name="amount[]" style="width: 80%;"
                                   id="enteredCost{{ project.id }}" min="1">
                        </div>
                        <div class="justify-content-center my-3">
                            <!-- Button trigger modal -->
                            <input type="button" class="donate_now" data-toggle="modal"
                                   style="color: #fff; background-color: #1385B2; width: 100%; border-radius: 10px; height: 3rem; font-size: 25px;"
                                   data-target="#myModalGift{{ project.id }}" value="اهداء">
                            <!-- Modal -->
                            <div class="modal fade" id="myModalGift{{ project.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="position: relative;">
                                            <p style="display: flex; justify-content: center; text-align: center; color: red;"
                                               class="giftModalSuccessMessage"></p>
                                            <button type="button" id="btnclose" data-dismiss="modal"
                                                    style="font-size: 2rem; position: absolute; right: 20px; top: -10px;">
                                                x
                                            </button>
                                            اهداء
                                        </div>
                                        <div class="modal-body">
                                            <div style="margin-bottom: 10px;">
                                                <label for="name"
                                                       style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                                                    <i style=" color: #1385B2;" class="fa fa-user ml-3"></i>إسم
                                                    المرسل
                                                </label>
                                                <input class="formDivInput" type="text"
                                                       id="senderNameDonatedDonationPage">
                                            </div>
                                            <div style="margin-bottom: 10px;">
                                                <label for="name"
                                                       style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                                                    <i style=" color: #1385B2;" class="fa fa-male ml-3"></i>المرسل
                                                    له
                                                </label>
                                                <input class="formDivInput" type="text"
                                                       id="receiverNameDonatedDonationPage">
                                            </div>
                                            <div style="margin-bottom: 10px;">
                                                <label for="name"
                                                       style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                                                    <i style=" color: #1385B2;" class="fa fa-phone ml-3"></i>رقم
                                                    الهاتف
                                                </label>
                                                <input class="formDivInput" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                       id="phoneNumberDonatedDonationPage">
                                            </div>
                                            <div style="margin-bottom: 10px;">
                                                <label for="name"
                                                       style="display: flex; align-items: center; font-size: 15px; color: #717171;">
                                                    <i style=" color: #1385B2;" class="fa fa-envelope ml-3"></i>البريد
                                                </label>
                                                <input class="formDivInput" type="text"
                                                       id="emailDonatedDonationPage">

                                                <input type="hidden" id="projectId{{ project.id }}"
                                                       value="{{ project.id }}">
                                                <input type="hidden" class="project_category_id"
                                                       name="project_category_id[]"
                                                       value="{{ project.category.first.id }}">
                                                <input type="hidden" name="project_id[]" value="{{ project.id }} ">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                    class="mybg-eventBtn modal-btn addToCartProjectOfNewPageOfrefuneprojectPOPUP"
                                                    projectId="{{ project.id }}">اهداء
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-between my-3">
                            <input type="submit" class="donate_now addToCartAndNavigateToCartPage"
                                   value="تبرع الآن" projectId="{{ project.id }}"/>
                            <input type="submit" class="add_to_cart addToCartProjectOfNewPageOfSeasonalProjects"
                                   value="تبرع الآن" projectId="{{ project.id }}"/>
                        </div>
                    </div>
                    <input type="hidden" id="projectId{{ project.id }}" value="{{ project.id }}">
                    <input type="hidden" class="project_category_id"
                           name="project_category_id[]"
                           value="{{ project.category.first.id }}">
                    <input type="hidden" name="project_id[]" value="{{ project.id }} ">
                    </form>
                {% endfor %}
        </div>

        <div class="col-12 col-md-5 text-center">
            <span class="share">تبرع بالنشر</span>
            <div class="d-flex justify-content-center my-3">
                <i class="social_icon mx-2 fa fa-twitter" aria-hidden="true"></i>
                <i class="social_icon mx-2 fa fa-facebook-square" aria-hidden="true"></i>
                <i class="social_icon mx-2 fa fa-instagram" aria-hidden="true"></i>
                <i class="social_icon mx-2 fa fa-youtube-square" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="firstSection">
        <div class="firstSectionTitle">
            <span style="font-weight: bold;">تقارير المشروع</span>
        </div>
        <div class="row firstSectionCard">
            {% for data in pdfFiles %}
                <div class="col-md-3">
                    <div class="firstSectionCard1">
                        <p class="firstSectionCard1P"> {{ project.projectCategory.first.name }}</p>
                        <a href="{% url 'openPdf' data.id %}">
                            <img src="/media/{{ data.image }}" alt="{{ data.image }}"
                                 style="width: 100%; height: 234px;">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}