{% extends 'web/master.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}
    <section class="blog-section section-padding ash-white-bg">
        <div class="main-content section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row row-eq-rs-height">
                            {% for obj in news %}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="blog-post wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s"
                                         style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUpSmd;">
                                        <div class="blog-post__thumbnail-wrap">
                                            <img src="{{ obj.get_image_url }}" alt="blog">

                                        </div>
                                        <div class="blog-post__text-content">
                                            <h4 class="blog-post__title heading-label-four"><a
                                                    href="{% url 'science-center-news-detail' obj.id %}">{{ obj.get_title }}</a>
                                            </h4>
                                            <div class="blog-post__meta-info">
                                                <span class="small-text"><i
                                                        class="fa fa-calendar base-color"></i>{{ obj.created_at | date:"M d, Y" }}</span>
                                            </div>
                                            <p>{{ obj.get_content | striptags |truncatewords:10 | nbsp }} ...</p>
                                            <a href="{% url 'science-center-news-detail' obj.id %}" class="btn">
                                                {% get_current_language as LANGUAGE_CODE %}
                                                {% if LANGUAGE_CODE == "ar" %}
                                                    {% trans "اقرأ أكثر" %}
                                                {% else %}
                                                    {% trans "Read More" %}
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div><!--/.blog-post-->
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-md-4">
                        <aside class="sidebar">
                            <div class="widget widget--category">
                                <div class="widget__heading">
                                    <h4 class="widget__title">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% if LANGUAGE_CODE == "ar" %}
                                            {% trans "فئات الأخبار" %}
                                        {% else %}
                                            {% trans "News Categories" %}
                                        {% endif %}
                                    </h4>
                                </div>
                                <div class="widget__text-content">
                                    <ul>
                                        {% for category in science_categories %}
                                            <li><a href="#" class="pdr10">{{ category.get_name }}</a><span
                                                    class="post-count">{{ category.total_news }}</span></li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget__heading">
                                    <h4 class="widget__title">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% if LANGUAGE_CODE == "ar" %}
                                            {% trans "أحدث" %}
                                        {% else %}
                                            {% trans "Latest" %}
                                        {% endif %}
                                        <span
                                                class="base-color">
                                        {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "أخبار" %}
                                            {% else %}
                                                {% trans "News" %}
                                            {% endif %}
                                        </span></h4>
                                </div>
                                <div class="widget__text-content">
                                    {% for obj in news %}
                                        <div class="widget-latest-causes">
                                            <div class="widget-latest-causes__image-wrap">
                                                <a href="{% url 'science-center-news-detail' obj.id %}"><img
                                                        class="widget-latest-causes__thubnail"
                                                        src="{{ obj.get_image_url }}" width="145" height="93"
                                                        alt=""></a>
                                            </div>
                                            <div class="widget-latest-causes__text-content">
                                                <h4 class="widget-latest-causes__title"><a
                                                        href="{% url 'science-center-news-detail' obj.id %}">{{ obj.get_title }}</a>
                                                </h4>
                                                <span class="small-text"><i
                                                        class="fa fa-calendar base-color"></i> {{ obj.created_at | date:"M d, Y" }}</span>
                                            </div>
                                        </div><!--/.widget-latest-causes-->                            </div>
                                    {% endfor %}
                            </div>
                        </aside>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}
