{% extends 'web/master.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}
{% load project_image %}


{% block content %}

    {#            'totalAmount': totalAmount,#}
    {#            'defaultDuration': defaultDuration,#}
    {# SHOW PROJECTS: #}
    <section class="section-padding" id="bgLightGray">
        <div class="container">
            <div class="col-md-3 col-lg-3 col-xl-3 col-sm-0 col-xs-0"></div>

            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-xs-6">
                <form action="{% url 'OnlineSubscriptionTap' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">{% trans 'Name:' %}</label>
                        <input type="text" class="form-control" name="name" value="{{ personName }}" readonly>
                        <input type="hidden" name="project_id[]" value="{{ personId }}">
                        {#                        <input type="hidden" name="amount[]" value="{{ totalAmount }}">#}
                    </div>

                    <div class="form-group">
                        <label for="category">{% trans "Category" %}</label>
                        <input type="text" value="{{ categoryId }}" class="form-control" name="project_category_id[]">
                    </div>

                    <div class="form-group">
                        <label for="interval">{% trans 'Interval:' %}</label>
                        <select name="interval" id="interval" class="form-control">
                            <option value="DAILY">{% trans "DAILY" %}</option>
                            <option value="WEEKLY">{% trans "WEEKLY" %}</option>
                            <option value="MONTHLY" selected="selected">{% trans "MONTHLY" %}</option>
                            <option value="BIMONTHLY">{% trans "BIMONTHLY" %}</option>
                            <option value="QUARTERLY">{% trans "QUARTERLY" %}</option>
                            <option value="HALFYEARLY">{% trans "HALFYEARLY" %}</option>
                            <option value="YEARLY">{% trans "YEARLY" %}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="period">{% trans "Period:" %}</label>
                        <input type="text" list="period" name="period" class="form-control"/>
                        <datalist id="period">
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                        </datalist>
                    </div>

                    <div class="form-group">
                        <label for="amount">{% trans "Amount" %}</label>
                        <input type="number" class="form-control" name="amount[]" min="0" required>
                    </div>

                    <div class="form-group">
                        <label for="from">{% trans "From Date:" %}</label>
                        <input type="datetime-local" placeholder="dd-mm-yyyy" min="2020-12-12T00:00"
                               class="form-control" name="from">
                    </div>

                    <div class="form-group">
                        <label for="auto_renew">{% trans "Auto Renew At The End Date?" %}</label>
                        <select name="auto_renew" id="auto_renew" class="form-control">
                            <option value="True">{% trans "True" %}</option>
                            <option value="False">{% trans "False" %}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="timezone">{% trans "Time Zone:" %}</label>
                        <select name="timezone" id="timezone" class="form-control">
                            <option value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
                            <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                            <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
                            <option value="US/Alaska">(GMT-09:00) Alaska</option>
                            <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
                            <option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
                            <option value="US/Arizona">(GMT-07:00) Arizona</option>
                            <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                            <option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
                            <option value="America/Managua">(GMT-06:00) Central America</option>
                            <option value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
                            <option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                            <option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
                            <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                            <option value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)</option>
                            <option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
                            <option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
                            <option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
                            <option value="America/Manaus">(GMT-04:00) Manaus</option>
                            <option value="America/Santiago">(GMT-04:00) Santiago</option>
                            <option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
                            <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
                            <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
                            <option value="America/Godthab">(GMT-03:00) Greenland</option>
                            <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
                            <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
                            <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
                            <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
                            <option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                            <option value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon,
                                London
                            </option>
                            <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm,
                                Vienna
                            </option>
                            <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana,
                                Prague
                            </option>
                            <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                            <option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
                            <option value="Asia/Amman">(GMT+02:00) Amman</option>
                            <option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                            <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
                            <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
                            <option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
                            <option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius
                            </option>
                            <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
                            <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
                            <option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
                            <option value="Asia/Kuwait" selected="selected">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                            <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                            <option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
                            <option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
                            <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
                            <option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
                            <option value="Asia/Baku">(GMT+04:00) Baku</option>
                            <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
                            <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
                            <option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
                            <option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                            <option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                            <option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
                            <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
                            <option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
                            <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
                            <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
                            <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
                            <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                            <option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
                            <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                            <option value="Australia/Perth">(GMT+08:00) Perth</option>
                            <option value="Asia/Taipei">(GMT+08:00) Taipei</option>
                            <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                            <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
                            <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
                            <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
                            <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
                            <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
                            <option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                            <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
                            <option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
                            <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
                            <option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                            <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
                            <option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                            <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="currency">{% trans "Currency" %}</label>
                        <select name="currency" id="currency" class="text-right form-control">
                            <option value="KWD" selected="selected"> {% trans "KWD" %} </option>
                            <option value="USD"> {% trans "USD" %} </option>
                            <option value="GBP"> {% trans "GBP" %} </option>
                            <option value="EUR"> {% trans "EUR" %} </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">{% trans "Description:" %}</label>
                        <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn text-center">
                    </div>

                </form>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 col-sm-0 col-xs-0"></div>
        </div>
    </section>
    {# END SHOW PROJECTS: #}

    <br><br>


{% endblock %}