{% extends 'web/navbarlight.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}


    <header class="masthead text-white" style="background-image: url('{% static 'images/heartsun.png' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="my-heading">شركاؤنا </h3>
                    <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                        نحو</p>
                    <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                        الدين </p>
                    <a href="{% url 'allProjects' %}">
                        <button class="mybg-eventBtn" style="background-color: #fff; color: #1488B5;">تبرع الآن</button>
                    </a>
                </div>
            </div>
        </div>
    </header>

    {% for data in testimonialsData %}
        {% if forloop.counter1 %}
            <section class="testimonials" style="position: relative; overflow: hidden">
                <img src="/static/images/bg1.png" class="testimonialsBG1" style="left: -11rem; top: 5rem" alt="img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mt-4">
                            <div class="my-right-text">
                                <h3 class="myh-class font-weight-bold" style="font-size: 25px;">
                                    {{ data.title }} - {{ data.name }}
                                </h3>
                                <p class="myp-class">{{ data.message|truncatechars:700 }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-4" data-wow-duration="1.4s">
                            <div class="big-img-3">
                                <img src="/media/{{ data.image }}" class="img-fluid testimonialsImage">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    {% for data in testimonialsData %}
        {% if forloop.last %}
            <section class="testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mt-4" data-wow-duration="1.4s">
                            <div class="big-img-3">
                                <img src="/media/{{ data.image }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-4">
                            <div class="my-right-text">
                                <h3 class="myh-class font-weight-bold" style="font-size: 25px;">
                                    {{ data.title }} - {{ data.name }}
                                </h3>
                                <p class="myp-class">
                                    {{ data.message|truncatechars:700 }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}


    {% for data in testimonialsData %}
        {% if forloop.first %}
            <section class="testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mt-4">
                            <div class="my-right-text">
                                <h3 class="myh-class font-weight-bold" style="font-size: 25px;">
                                    {{ data.title }} - {{ data.name }}
                                </h3>
                                <p class="myp-class">{{ data.message|truncatechars:700 }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-4" data-wow-duration="1.4s">
                            <div class="big-img-3">
                                <img src="/media/{{ data.image }}" class="img-fluid testimonialsImage">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

{% endblock %}