{% extends 'web/navbarlight.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load app_filters %}

{% block content %}


<header class="masthead text-white" style="background-image: url('{% static 'images/tatva.png'%}')">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="my-heading">اسئله واجوبه </h3>
                <p class="myp-slider text-center">لعمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية
                    نحو</p>
                <p class="myp-slider text-center">تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة
                    الدين </p>
                <a href="{% url 'allProjects' %}">
                    <button class="mybg-eventBtn" style="background-color: #fff; color: #1488B5;">تبرع الان</button>
                </a>
                <!-- <p class="myp-slider text-center">والمجتمع اسمي بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف
                        وعدم </p>
                    <p class="myp-slider text-center">التساهل الذي يؤدي لضياع</p> -->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="question_answer_sec container">
        <div class="row">
            <div class="col-12 p-0">
                <h2 class="question_answer">اسئله واجوبه</h2>
                <div class="accordion" id="myAccordion"
                    style="margin-bottom: 15rem; box-shadow: 0px 1px 4px 0px lightgrey; border-radius: 25px;">
                    <div class="accordion-item" style="border-top: none !important; border-radius: 25px 25px 0 0;">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne">كيف نتابع مشروع التطوع الخاص بنا؟</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p>العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري
                                    والفني للجمعية نحو تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية
                                    العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو تحقيق
                                    رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي
                                    بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي
                                    لضياعلخدمة الدين والمجتمع اسمي بكافة اأطيافه
                                    ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo">ماهي المشاريع المتاحه علي الموقع الان؟</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p>العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري
                                    والفني للجمعية نحو تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية
                                    العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو تحقيق
                                    رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي
                                    بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي
                                    لضياعلخدمة الدين والمجتمع اسمي بكافة اأطيافه
                                    ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree">نظيمات جماعية تحكمها قرارات مجموعة ، هذا التجمع
                                محكوم
                                بقواعد تنظيمية ملزمة لكل الأفراد العاملين فيه</button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p>العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري
                                    والفني للجمعية نحو تحقيق رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية
                                    العمومية بتشكيل مجلس ادارة الذي يتولى العمل اداري والفني للجمعية نحو تحقيق
                                    رؤية ورسالة وأهداف الجمعية ضمن الخطة استراتيجية لخدمة الدين والمجتمع اسمي
                                    بكافة اأطيافه ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي
                                    لضياعلخدمة الدين والمجتمع اسمي بكافة اأطيافه
                                    ، وحماية المجتمع من الغلو والتطرف وعدم التساهل الذي يؤدي لضياع
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}