{% extends 'web/master.html' %}
{% load static %}
{% load humanize %}
{% load app_filters %}
{% load i18n %}

{% block content %}

    <link rel="stylesheet" href="/static/css/zakatNew.css">

    <style rel="stylesheet">
        #main img {
            /* Position the image at 0,0 */
            position: relative;
            left: 0;
            margin-top: 100px;
        }

        #main > .floatingDiv {
            /* Position the div at 16,16 (middle of the 32x32 image */
            position: absolute;
            left: 100px;
            top: 3px;
            bottom: 3px;
            background-color: #FFFFFF;
            padding: 1px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            width: 250px;
            margin-top: 100px;
        {#height: 100%;#} border-color: transparent;
        }

        .floatingDiv > .col-4 > h4 {
            margin-top: 0;
            background-color: #F4F4F4;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 15px;
            text-align: center;
            color: #52616D;
        }

        .floatingDiv > .col-4 > div > h4 {
            color: #52616D;
        }

        .floatingDiv > .col-4 > #inputDiv, #buttonDiv {
            padding: 11px;
        }

        .floatingDiv > .col-4 > div > p {
            padding: 11px;
            color: #52616D;
        }

        {# END NAVBAR: #}
        /* Carousel Styles */

        .carousel-inner img {
            width: 100%;
            height: 300px
        }

        .carousel-control.left span {
            padding: 5px;
        }

        .carousel-control.right span {
            padding: 5px;
        }

        .carousel-control .fa-angle-left,
        .carousel-control .fa-angle-right,
        .carousel-control .icon-prev,
        .carousel-control .icon-next {
            position: absolute;
            top: 55%;
            z-index: 5;
            display: inline-block;
        }


        .carousel-control.left span,
        .carousel-control.right span {
            background-color: #000;
            padding-left: 10%;
            padding-right: 10%;
            opacity: .5;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        .carousel-control.left span:hover,
        .carousel-control.right span:hover {
            opacity: .7;
            filter: alpha(opacity=70);
        }

        {# END ANOTHER CAROUSEL: #}

        {# CONTAINER FOR 4 ICONS:  #}

        a {
            text-decoration: none !important;
        }

        a:hover {
            text-decoration: none !important;
            color: #63A6A5;
        }

        {# END CONTAINER FOR 4 ICONS:  #}

        {# ABOUT ZAKAT: #}

        #aboutZakatMainDiv > .container {
            padding: 50px;
        }

        {# END ABOUT ZAKAT: #}


    </style>


    <div style="position: relative; background-color: lightgreen;">
        <img src="/static/zakatimg/topImage.png" alt=""
             style="width: 100%; opacity: 0.6;">
        <div id="topPullOnTop">
            <h1 class="text-center" style="color: white;">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == "ar" %}
                    {% trans "زكاة" %}
                {% else %}
                    {% trans "Zakat" %}
                {% endif %}
            </h1>
        </div>
    </div>


    <br><br>

    <div class="container text-center">
        <div class="form-group">
            <span id="logoColor">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == "ar" %}
                    {% trans "احسب الزكاة" %}
                {% else %}
                    {% trans "Calculate Zakat" %}
                {% endif %}
            </span> <input type="radio" name="group1" value="1"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#collapseOne">
            <span id="logoColorGreen">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == "ar" %}
                    {% trans "تعرف على زكاتي" %}
                {% else %}
                    {% trans "Know My Zakat" %}
                {% endif %}
            </span> <input type="radio" name="group1" value="2"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#collapseTwo">
        </div>
    </div>


    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="container">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>

                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <div class="innerContent text-center">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">

                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                            <div class="text-center">
                                                <img src="/static/zakatimg/gold.png" alt="" class="firstImage">
                                            </div>
                                            <div class="text-center">
                                                <h2 id="logoColor" class="h2Tag">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% if LANGUAGE_CODE == "ar" %}
                                                        {% trans "ذهب" %}
                                                    {% else %}
                                                        {% trans "Gold" %}
                                                    {% endif %}
                                                </h2>
                                            </div>
                                            <div class="text-center aTag1">
                                                <a href="{% url 'zakatForGold' %}" class="text-center btn aTag">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% if LANGUAGE_CODE == "ar" %}
                                                        {% trans "احسب الذهب" %}
                                                    {% else %}
                                                        {% trans "Calculate For Gold" %}
                                                    {% endif %}

                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center secondBlock">
                                            <div class="text-center">
                                                <img src="/static/zakatimg/money.png" alt="" class="firstImage">
                                            </div>
                                            <div class="text-center">
                                                <h2 id="logoColor" class="h2Tag">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% if LANGUAGE_CODE == "ar" %}
                                                        {% trans "مال" %}
                                                    {% else %}
                                                        {% trans "Money" %}
                                                    {% endif %}
                                                </h2>
                                            </div>
                                            <div class="text-center aTag1">
                                                <a href="{% url 'zakatForMoney' %}" class="text-center btn aTag">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% if LANGUAGE_CODE == "ar" %}
                                                        {% trans "احسب مقابل المال" %}
                                                    {% else %}
                                                        {% trans "Calculate For Money" %}
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-xl-2"></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <div class="card-box">
                                    <div class="card-title">
                                        <span> <img src="/static/zakatimg/goldSecond.png" alt=""> </span>
                                        <span style="float: right; vertical-align: middle;">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "ذهب" %}
                                            {% else %}
                                                {% trans "Gold" %}
                                            {% endif %}</span>
                                    </div>
                                    <div class="card-body1">
                                        <h3 class="text-center toShrinkFontSize" id="logoColor">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "احسب الذهب" %}
                                            {% else %}
                                                {% trans "Calculate For Gold" %}
                                            {% endif %}
                                        </h3>
                                    </div>
                                    <div class="card-body2 text-center">
                                        <form action="" id="forZakatGoldProjectForm">
                                            {% csrf_token %}
                                            {% for project in projects %}
                                                <input type="hidden" id="project_id1" name="project_id[]"
                                                       value="{{ project.id }}">
                                            {% endfor %}
                                            <input type="number" min="0" name="amount[]" id="amount1"
                                                   class="form-control text-center inputField"
                                                   style="margin-left: 3%; margin-bottom: 3%;">
                                            <input type="submit" class="btn btn-block"
                                                   style="margin-left: 3%; margin-bottom: 3%;">
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <h3 id="logoColor" class="text-center pb-3">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "تبرع بزكاة الذهب" %}
                                            {% else %}
                                                {% trans "Donate Zakat Of Gold" %}
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <div class="card-box">
                                    <div class="card-title">
                                        <span> <img src="/static/zakatimg/dollarBag.png" alt=""> </span>
                                        <span style="float: right; vertical-align: middle;">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "مال" %}
                                            {% else %}
                                                {% trans "Money" %}
                                            {% endif %} </span>
                                    </div>
                                    <div class="card-body1">
                                        <h3 class="text-center toShrinkFontSize" id="logoColor">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "احسب زكاة المال" %}
                                            {% else %}
                                                {% trans "Calculate Zakat Of Money" %}
                                            {% endif %}
                                        </h3>
                                    </div>
                                    <div class="card-body2 text-center">
                                        <form action="" id="forZakatMoneyProjectForm">
                                            {% csrf_token %}
                                            {% for project in projects %}
                                                <input type="hidden" id="project_id" name="project_id[]"
                                                       value="{{ project.id }}">
                                            {% endfor %}
                                            <input type="number" min="0" name="amount[]" id="amount"
                                                   class="form-control text-center inputField"
                                                   style="margin-left: 3%; margin-bottom: 3%;">
                                            <input type="submit" class="btn btn-block"
                                                   style="margin-left: 3%; margin-bottom: 3%;">
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <h3 id="logoColor" class="text-center pb-3">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% if LANGUAGE_CODE == "ar" %}
                                                {% trans "تبرع بزكاة المال" %}
                                            {% else %}
                                                {% trans "Donate Zakat Of Money" %}
                                            {% endif %}

                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xl-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container text-center">
        <div class="text-center">
            <h1 id="logoColorGreen" class="text-center">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == "ar" %}
                    {% trans "عن الزكاة" %}
                {% else %}
                    {% trans "About Zakat" %}
                {% endif %}
            </h1>
        </div>
        <div class="text-center">
            <h3 class="text-center reduceSizeOfH3"
                style="margin: auto; color: #C2C1C1; width: 75%; padding: 5%; text-align: center;">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == "ar" %}
                    {% trans "عَنْ عَبْدِ اللَّهِ بْنِ مُعَاوِيَةَ الْغَاضِرِيِّ قَالَ قَالَ النَّبِيُّ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ ثَلَاثٌ مَنْ فَعَلَهُنَّ فَقَدْ طَعِمَ طَعْمَ الْإِيمَانِ مَنْ عَبَدَ اللَّهَ وَحْدَهُ وَأَنَّهُ لَا إِلَهَ إِلَّا اللَّهُ وَأَعْطَى زَكَاةَ مَالِهِ طَيِّبَةً بِهَا نَفْسُهُ رَافِدَةً عَلَيْهِ كُلَّ عَامٍ" %}
                {% else %}
                    {% trans "Abdullah ibn Mu’awiyyah reported: The Prophet, peace and blessings be upon him, said, 'Whoever does three deeds will taste the sweetness of faith: one who worships Allah alone, who declares there is no God but Allah, and who gives charity from his wealth each year with a cheerful and earnest soul.'" %}
                {% endif %}
            </h3>
        </div>
    </div>

    <br><br>

    <div style="background-color: #EEE8E8;">
        <div class="container text-center">
            <div>
                <h2 id="logoColor" class="text-center">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "ar" %}
                        {% trans "" %}
                    {% else %}
                        {% trans "المزيد عن الزكاة" %}
                    {% endif %}
                </h2>
            </div>
            <div class="text-center">
                <h3 class="text-center reduceSizeOfH3"
                    style="margin: auto; color: #BDB9B9; width: 75%; padding: 5%; text-align: center;">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == "ar" %}
                        {% trans "عَنْ نَافِعٍ عَنِ ابْنِ عُمَرَ رضي الله عنه قَالَ كُلُّ مَالٍ أَدَّيْتَ زَكَاتَهُ وَإِنْ كَانَ تَحْتَ سَبْعِ أَرَضِينَ فَلَيْسَ بِكَنْزٍ وَكُلُّ مَالٍ لَا تُؤَدِّي زَكَاتَهُ فَهُوَ كَنْزٌ وَإِنْ كَانَ ظَاهِرًا عَلَى وَجْهِ الْأَرْضِ السنن الكبرى للبيهقي" %}
                    {% else %}
                        {% trans "Nafi’ reported: Ibn Umar, may Allah be pleased with him, said, 'Every piece of property on which alms is paid, even if it were beneath the seven earths, it will never be buried. Every piece of property on which alms is not paid is buried, even if it were to lie openly on the face of the earth.'" %}
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>

{% endblock %}